body{
    background: cyan;
    margin: 0%;
    padding: 0;
    
}
form{
    height:28 ;
    width:18;
    margin: auto;
    padding:50px ;
    border-radius:8px ;
    text-align: center;
}
#h1{
    text-align: center;
}
input textarea{
    border: 1px solid;
}
input 
.area{
    width: 190px;
    margin: 9px;
    height: 100px;

}
.txt{
    margin: 10px;
    padding: 7px;
    width: 160px;
}
.label{
    margin: 240px;
    font-size:20px;
   
}
